html{
    font-family: monospace;
    background-color: rgb(89, 92, 92);
    font-size: 20px;
}
body{
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;

}
img{
    height:200px;
}

.resume{
    display: inline;
    background-image: url("20220304_122655_05.jpg");
    background-position: center;
    background-size: cover;
    flex-direction: row;
    justify-content: space-around;
}
nav li{
    display:inline;
}

main{
    display:inline;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 2 2 33%;
    justify-content: center;
    
}

.contact li{
    display: inline;
    font-weight: 700;
    font-size: 1.2em;
}


ul {
    list-style: none;
}

#resume {
    background-image: url("20220304_122655_05.jpg");background-size: cover;
}
section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url("background.png");
    width: 33%;
    height:auto;
; 
}
section, h2{
    display:flex;
    background-color: antiquewhite;
    border: 2px solid white;
    border-radius: 2%;
    position:relative;
    text-overflow: wrap;
    text-align: center;
    width: 90%;
}
#Accomplishments li{
    display:flex;
    text-align: left;
    font-size:1em;
    line-height: 1.2;
}
@media only screen and (max-width: 350px) {
    body{font-size: 0.65rem;
    }
    img{
        height: auto;
        width:auto;
    }
    .header{
        height: auto;
        width:auto;
    }

    
}
